<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /h-smartdata
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /h-smartdata/index.php [L]
</IfModule>